/* Team */

#team .col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#team .col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.hyper-link {
  font-weight: 500;
  color: #212529;
}

.hyper-link:hover {
  color: #8B8C8E;
}

.img-circular {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 100px;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1200px) {
  .ul-imagens {
    columns: 2;
  }
}